
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
  
  .App {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 223, 223);
  }

  .nav{
    display: flex;
    justify-content: flex-end;
   
  }

  #dark .nav{
    background-color: rgb(26, 25, 25);
  }

  #light .nav{
    background-color: rgb(236, 141, 141);
  }

  .switchButton{
    display: flex;
    margin: 1rem;
  }

  #dark .switchButton{
    background-color: rgb(26, 25, 25);
  }

  #light {
    background-color: rgb(232, 223, 223)
  }
  
  #dark {
    background-color: #3b3a3b;
  }

  .Actions {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(236, 141, 141);
    
    align-content: center;
    align-items: center;
    padding-top: 30px;
    
  }

  #dark .Actions{
    background-color: rgb(26, 25, 25);
  }

  h1{
    color: azure;
  }

  .Header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
  }

 .addForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
 }

   /****************** FORM ************************/
   form{
    display: flex;
    justify-content: center; 
   }

   .addForm input {
    background-color: rgb(229, 228, 228);
    border: 0;
    width: 19rem;
    height: 2rem;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 0.4rem;
  }

  .addForm button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #dbecde 5%, #e4f1e7 100%);
    border-radius:0.4rem;
    cursor:pointer;
    color:#181a18;
    font-size:1rem;
    font-weight:bold;
    height: 2rem;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  .addForm button:hover {
    background:linear-gradient(to bottom, #5aed64 5%, #3fc93c 100%);
    color:#ecf4ec;
    border: 1px solid #ecf4ec;
    
  }

    /****************** SEARCH BAR ************************/
    .SearchBar{
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }

    .SearchBar input {
      background-color: lightgray;
      border: 0;
      width: 16rem;
      height: 2.5rem;
      padding: 0 20px;
      margin: 10px;
      font-size: 18px;
      border-radius: 0.4rem;
    }

    /*
    .SearchBar input::placeholder{
      color: white;
    }
    */


  /****************** CARD TASK ************************/

  
  .allCards :hover {
    transform: scale(1.02);
  }
  

  .allCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .eachCard {
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    transition: transform 200ms ease-in;
    background-color: azure;
  }

  #dark .eachCard{
    background-color: #2e282e;
    color: rgb(219, 217, 217);
    
  }

  .card__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  
  }

  .card__title {
    padding: 1rem;
  }

  .card__description {
    padding: 0 1rem;
    
  }

  .card__button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #eb176c 5%, #408c99 100%);
    border-radius:0.4rem;
    cursor:pointer;
    color:#ffffff;
    font-size:1rem;
    font-weight:bold;
    padding:13px 25px;
    text-shadow:0px 1px 0px #3d768a;
    margin: 5px;
    border: none;
  }
  .card__button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #eb176c 100%);
    
  }


  .card__buttonIn{
  box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #e45555 5%, #3d0404 100%);
	border-radius:15px;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
  font-weight: 600;
  padding: 5px 10px;
	text-decoration:none;
  width:fit-content;
  margin: 10px;
  border: none;
  }

  .button__done{
    cursor:pointer;
    border: none;
    border-radius:15px;
    width:fit-content;
    margin: 10px;
    font-size:16px;
    font-weight: 600;
    padding: 5px 10px;
  }

  .card__buttonIn:hover {
    background:linear-gradient(to bottom, #121210 5%, #f52727 100%);
	
  }

  .buttonsInCard{
    display: flex;
    justify-content:center;
    
    

  }

  .card__title{
    display: flex;
    text-align:initial;
  }

  .dadUrgency{
      display: flex;
      justify-content:flex-end;
      margin-top: 2px;
  }
  .card__urgency{
    color: white;
    width: 4rem;
    
  }

  .card__urgency p{
    font-weight: 600;
    border-radius: 15px 0px 0px 15px;
  }

 .descriptionBox{
  height: 100px
 }

 .card__description{
  display: flex;
  text-align:justify;
  font-weight: 600;
 }

