*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App {
    text-align: center;
    padding: 20px;
  }

  .Header {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  /****************** CARD TASK ************************/

  .allCards :hover {
    transform: scale(1.02);
  }

  .allCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
  }

  .eachCard {
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
  }

  .card__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  
  }

  .card__title {
    padding: 1rem;
  }

  .card__description {
    padding: 0 1rem;
  }

  .card__button{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.2rem 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

 
 